body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}
/*navbar styling*/
nav {
    background-color: rgb(204, 153, 0);
    font-family: 'Mulish', 'Heebo', sans-serif;
    display: flex;
    justify-content: space-around;

}

nav h1 {
    align-self: flex-start;
    font-size: 200%;
}

nav #header-links {
    width: 15%;
    display: flex;
    justify-content: space-around;
    font-size: 125%;
}
/*presentation div styling*/
.presentation-div {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Heebo', 'Mulish', sans-serif;
}

#img-div {
    width: 50%;

}

#text-div {
    margin-left: 2.5%;
    align-self: center;
}

#img-div img {
    width: 90%;
    margin-top: 5%;
}

#presentation-div #text-div {
    width: 50%;
}

#text-div h2 {
    font-size: 300%;
    text-decoration: underline;
}

#text-div p {
    font-size: 150%;
}
/*images div styling*/
.images-div {
    font-family: 'Mulish', 'Heebo', sans-serif;
}

.images-div h3, .images-div p {
    text-align: center;
}

.images-div h3 {
    font-size: 300%;
}

.images-div p {
    font-size: 150%;
}

.images-div .grid {
    display: flex;
    flex-wrap: wrap;
}

#img-1 {
    width: 25%;
}

#img-2 {
    flex: 2;
    width: 25%;
}

#img-3 {
    flex: 2;
    width: 25%;
}

#img-4 {
    flex: 2;
    width: 25%;
}